security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
    username="{{ kafdrop_kafka_username }}" \
    password="{{ kafdrop_kafka_password }}";