apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ kafdrop_application }}
spec:
  port:
    targetPort: http
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: {{ kafdrop_application }}
    weight: 100
  wildcardPolicy: None
