apiVersion: v1
kind: Service
metadata:
  name: {{ kafdrop_application }}
spec:
  type: ClusterIP
  ports:
    - port: {{ kafdrop_server_port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ kafdrop_application }}
